#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.to-do-list {
  font-family: Arial, sans-serif;
}
.input-field {
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  border: 1px solid #acacac;
  color: rgb(88, 88, 88);
}

.add-button{
  font-size: 1rem;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(40, 167, 40);
  color: white;
  border: none;
  cursor: pointer;
}
.add-button:hover{
  background-color: rgb(34, 141, 34);
}

ol{
  padding: 0;
  margin: 0;
}

li{
  padding: 5px;
  border: #acacac solid 1px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.text{
  font-size: 1.5rem;
  padding-left: 1rem;
}

.delete-button,.check-button, .revert-completion-button{
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}
.delete-button:hover, .check-button:hover, .revert-completion-button:hover {
  background-color: rgb(221, 221, 221);
}

.due-tasks-container, .completed-tasks-container{
  min-height: 100px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
}
